<div class="container">
  <div class="row">
    <h3 class="mgt">User Management</h3>
  </div>
  <div class="row">
    <div class="col-md-6">
      <app-user-form
        (searchByName)="onSearchByName($event)"
        (searchByRole)="onSearchByRole($event)"
        (searchByGroup)="onSearchByGroup($event)"
        (searchByDate)="onSearchByDate($event)"
        (searchByInvitation)="onSearchByInvitation($event)"
      ></app-user-form>
    </div>
    <div class="col-md-6">
      <app-user-pagination
        (paginationUpdates)="onPaginationUpdate($event)"
      ></app-user-pagination>
    </div>
  </div>

  <mat-spinner [diameter]="50" *ngIf="usersLoading$ | async as usersLoading"
    >Loading Users</mat-spinner
  >

  <ng-container *ngIf="!(usersLoading$ | async) as usersLoading">
    <div class="row" *ngIf="users$ | async as users">
      <div class="col-md-12">
        <app-user-table
          [paginationDetails]="paginationDetails"
          [users]="users$ | async"
        ></app-user-table>
      </div>
    </div>
  </ng-container>
</div>
