  <mat-form-field appearance="legacy">
    <input matInput (focus)="onFocus()"  (select)="onSelect()" placeholder="Search by name">
  </mat-form-field>

  <mat-form-field appearance="legacy">
    <input matInput (focus)="onFocus()"  (select)="onSelect()" placeholder="Search by role">
  </mat-form-field>

  <mat-form-field appearance="legacy">
    <input matInput (focus)="onFocus()"  (select)="onSelect()" placeholder="Search by group">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder="Inactivity">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

<mat-form-field class="orgu">
  <mat-label>Organisation Unit</mat-label>
  <mat-select>
    <mat-option>None</mat-option>
    <!-- <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option> -->
    <mat-option></mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-label>Invitations</mat-label>
  <mat-select disableRipple>
    <mat-option value="1">No Value</mat-option>
    <mat-option value="2">All Invitations</mat-option>
    <mat-option value="3">Expired Invitations</mat-option>
  </mat-select>
</mat-form-field>
<mat-checkbox>Self registrations</mat-checkbox>

