<mat-form-field appearance="legacy">
  <input
    matInput
    (keyup)="onSearchNameFocus($event, 'name')"
    placeholder="Search by name"
  />
</mat-form-field>

<mat-form-field appearance="legacy">
  <input
    matInput
    (focus)="onFocus()"
    (keyup)="onSearchRoleFocus($event, 'role')"
    placeholder="Search by role"
  />
</mat-form-field>

<mat-form-field appearance="legacy">
  <input
    matInput
    (focus)="onFocus()"
    (keyup)="onSearchGroupFocus($event, 'group')"
    placeholder="Search by group"
  />
</mat-form-field>

<mat-form-field class="example-full-width">
  <input
    matInput
    [matDatepickerFilter]="myFilter"
    [matDatepicker]="picker"
    placeholder="Inactivity"
    (dateChange)="onSearchDateFocus($event, 'date')"
  />
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<mat-form-field appearance="legacy">
  <input
    matInput
    [(ngModel)]="dialogData"
    (click)="openDialog($event)"
    placeholder="Organisation Unit"
  />
</mat-form-field>

<mat-form-field>
  <mat-label>Invitations</mat-label>
  <mat-select
    disableRipple
    (selectionChange)="onSearchInvitation($event, 'invitation')"
  >
    <mat-option>No Value</mat-option>
    <mat-option value="true">All Invitations</mat-option>
    <mat-option value="false">Expired Invitations</mat-option>
  </mat-select>
</mat-form-field>
<mat-checkbox (change)="onSearchSelfRegistered($event, 'selfRegistered')"
  >Self registrations</mat-checkbox
>
