<h3 style="text-align: center">Selected Roles*</h3>
<h3>Available roles</h3>

<form [formGroup]="userRoleForm">
  <mat-form-field style="width: 98%">
    <input
      matInput
      placeholder="Filter"
      formControlName="filter"
      (keyup)="onSearchRole($event)"
    />
  </mat-form-field>

  <div class="container">
    <div class="row">
      <div class="col-6">
        <div
          class="table-wrapper-scroll-y my-custom-scrollbar"
          style="width: 100%"
        >
          <table class="table table-bordered table-striped mb-0">
            <tbody>
              <tr
                *ngFor="
                  let role of userRoles$
                    | async
                    | selectFilter: false
                    | filterByName: searchedRole
                "
              >
                <td (click)="onUpdateUserRoleList($event, role)">
                  {{ role.name }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <button
          type="button"
          class="btn btn-warning"
          (click)="onAssignUserRoleList($event, true)"
        >
          ASSIGN ALL
        </button>
      </div>

      <div class="col-6">
        <div
          class="table-wrapper-scroll-y my-custom-scrollbar"
          style="width: 100%"
        >
          <table class="table table-bordered table-striped mb-0">
            <tbody>
              <tr *ngFor="let role of userRoles$ | async | selectFilter: true">
                <td (click)="onUpdateUserRoleList($event, role)">
                  {{ role.name }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <button
          type="button"
          class="btn btn-warning"
          (click)="onAssignUserRoleList($event, false)"
        >
          UNASSIGN ALL
        </button>
      </div>
    </div>
  </div>
  <br />

  <div class="container">
    <div class="row">
      <div class="col-6">
        <h3>Available user groups</h3>
      </div>
      <div class="col-6">
        <h3>Selected user groups</h3>
      </div>
    </div>
  </div>

  <mat-form-field style="width: 98%">
    <input matInput placeholder="Filter" (keyup)="onSearchGroup($event)" />
  </mat-form-field>

  <br /><br />

  <div class="container">
    <div class="row">
      <div class="col-6">
        <div
          class="table-wrapper-scroll-y my-custom-scrollbar"
          style="width: 100%"
        >
          <table class="table table-bordered table-striped mb-0">
            <tbody>
              <tr
                *ngFor="
                  let group of userGroups$
                    | async
                    | selectFilter: false
                    | filterByName: searchedGroup
                "
              >
                <td (click)="onUpdateUserGroupList($event, group)">
                  {{ group.name }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <button
          type="button"
          class="btn btn-warning"
          (click)="onAssignUserGroupList($event, true)"
        >
          ASSIGN ALL
        </button>
      </div>

      <div class="col-6">
        <div
          class="table-wrapper-scroll-y my-custom-scrollbar"
          style="width: 100%"
        >
          <table class="table table-bordered table-striped mb-0">
            <tbody>
              <tr
                *ngFor="let group of userGroups$ | async | selectFilter: true"
                (click)="onUpdateUserGroupList($event, group)"
              >
                <td>{{ group.name }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <button
          type="button"
          class="btn btn-warning"
          (click)="onAssignUserGroupList($event, false)"
        >
          UNASSIGN ALL
        </button>
      </div>
    </div>
  </div>
</form>
<br /><br />

<div class="container">
  <button mat-button matStepperPrevious type="button" class="bsave">
    Back</button
  >&nbsp;&nbsp;
  <button mat-button matStepperNext type="button" class="bsave" required>
    Next
  </button>
</div>
