<h3 style="text-align: center">Selected Roles*</h3>
<h3>Available roles</h3>

<form [formGroup]="userRoleForm">
  <mat-form-field style="width: 98%">
    <input matInput placeholder="Filter" formControlName="filter" />
  </mat-form-field>

  <div class="container">
    <div class="row">
      <div class="col-6">
        <div
          class="table-wrapper-scroll-y my-custom-scrollbar"
          style="width: 100%"
        >
          <table class="table table-bordered table-striped mb-0">
            <tbody>
              <tr *ngFor="let role of userRoles$ | async | selectFilter: false">
                <td (click)="onUpdateUserRoleList($event, role)">
                  {{ role.name }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <button
          type="button"
          class="btn btn-warning"
          (click)="onAssignUserRoleList($event, true)"
        >
          ASSIGN ALL
        </button>
      </div>

      <div class="col-6">
        <div
          class="table-wrapper-scroll-y my-custom-scrollbar"
          style="width: 100%"
        >
          <table class="table table-bordered table-striped mb-0">
            <tbody>
              <tr *ngFor="let role of userRoles$ | async | selectFilter: true">
                <td (click)="onUpdateUserRoleList($event, role)">
                  {{ role.name }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <button
          type="button"
          class="btn btn-warning"
          (click)="onAssignUserRoleList($event, false)"
        >
          UNASSIGN ALL
        </button>
      </div>
    </div>
  </div>
  <br />
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h3>Data capture and maintainance organisation units</h3>
        <mat-form-field class="form-group">
          <input matInput placeholder="Search" formControlName="filter" />
        </mat-form-field>
      </div>

      <div class="col-6">
        <h3>Data output and analytic organisation units</h3>

        <mat-form-field class="form-group">
          <input matInput placeholder="Search" formControlName="filter" />
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-6">
        <ngx-dhis2-org-unit-filter
          [orgUnitFilterConfig]="selectionFilterConfig.orgUnitFilterConfig"
          (orgUnitUpdate)="onOrgUnitUpdate($event, 'UPDATE')"
          (orgUnitClose)="onOrgUnitUpdate($event, 'CLOSE')"
        >
        </ngx-dhis2-org-unit-filter>
      </div>

      <div class="col-6">
        <ngx-dhis2-org-unit-filter
          [orgUnitFilterConfig]="selectionFilterConfig.orgUnitFilterConfig"
          (orgUnitUpdate)="onOrgUnitUpdate($event, 'UPDATE')"
          (orgUnitClose)="onOrgUnitUpdate($event, 'CLOSE')"
        >
        </ngx-dhis2-org-unit-filter>
      </div>
    </div>
  </div>
  <p class="texth">
    Selecting an organisation unit provides access to all units in the
    sub-hierarchy
  </p>
</form>
<br /><br />

<div class="container">
  <button mat-button matStepperPrevious type="button" class="bsave">
    Back</button
  >&nbsp;&nbsp;
  <button mat-button matStepperNext type="button" class="bsave" required>
    Next
  </button>
</div>
