<div class="container">
  <div class="row">
    <div class="col-6">
      <h3>Available user groups</h3>
    </div>
    <div class="col-6">
      <h3>Selected user groups</h3>
    </div>
  </div>
</div>

<form [formGroup]="orgUnitForm">
  <mat-form-field style="width: 98%">
    <input matInput placeholder="Filter" formControlName="filter" />
  </mat-form-field>

  <br /><br />

  <div class="container">
    <div class="row">
      <div class="col-6">
        <div
          class="table-wrapper-scroll-y my-custom-scrollbar"
          style="width: 100%"
        >
          <table class="table table-bordered table-striped mb-0">
            <tbody>
              <tr *ngFor="let group of groups">
                <td>{{ group.name }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <button type="button" class="btn btn-warning">ASSIGN ALL</button>
      </div>

      <div class="col-6">
        <div
          class="table-wrapper-scroll-y my-custom-scrollbar"
          style="width: 100%"
        >
          <table class="table table-bordered table-striped mb-0">
            <tbody>
              <tr *ngFor="let group of groups">
                <td>{{ group.name }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <button type="button" class="btn btn-warning">UNASSIGN</button>
      </div>
    </div>
  </div>

  <br /><br />

  <div class="container">
    <div class="row">
      <div class="col-6">
        <h3>Available dimension restrictions for data analytics</h3>
      </div>
      <div class="col-6">
        <h3>Selected dimension restrictions for data analytics</h3>
      </div>
    </div>
  </div>
  <mat-form-field style="width: 98%">
    <input matInput placeholder="Filter" formControlName="filter" />
  </mat-form-field>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div
          class="table-wrapper-scroll-y my-custom-scrollbar"
          style="width: 100%"
        >
          <table class="table table-bordered table-striped mb-0">
            <tbody>
              <tr *ngFor="let dimension of dimensions">
                <td>{{ dimension.name }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <button type="button" class="btn btn-warning">ASSIGN ALL</button>
      </div>

      <div class="col-6">
        <div
          class="table-wrapper-scroll-y my-custom-scrollbar"
          style="width: 100%"
        >
          <table class="table table-bordered table-striped mb-0">
            <tbody>
              <tr *ngFor="let dimension of dimensions">
                <td>{{ dimension.name }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <button type="button" class="btn btn-warning">UNASSIGN</button>
      </div>
    </div>
  </div>
</form>
<br /><br />

<div class="container">
  <button mat-button matStepperPrevious type="button" class="bsave">
    Back</button
  >&nbsp;&nbsp;
  <button mat-button type="button" class="bsave">
    Save
  </button>
</div>
