<h3>Create New User</h3>
<!-- <button (click)="openChild($event)">Load Child Data</button> -->
<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="step1">
    <ng-template matStepLabel>Basic User Information</ng-template>
    <app-basic-user-info #step1></app-basic-user-info>
  </mat-step>
  <mat-step [stepControl]="step2">
    <ng-template matStepLabel>User role assignment</ng-template>
    <app-user-role-assignment #step2></app-user-role-assignment>
  </mat-step>
  <mat-step [stepControl]="step3">
    <ng-template matStepLabel>Organisation unit assignment</ng-template>
    <app-org-unit-assignment
      (saveUser)="onSaveUser($event)"
      #step3
    ></app-org-unit-assignment>
  </mat-step>
</mat-horizontal-stepper>

<router-outlet></router-outlet>
